@import url("https://fonts.cdnfonts.com/css/qerginas-frenchstyle-script");
@import url("https://fonts.cdnfonts.com/css/ikka-rounded");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Others */
html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgb(255, 134, 41);
  color: black;
}

* {
  font-family: "Ikka Rounded", sans-serif;
  font-size: 21px;
}

button {
  width: 200px;
  align-self: center;
}

.title {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("https://fonts.cdnfonts.com/s/107502/Raqillas-GOGdy.woff")
      format("woff");
}
/* Center orientation */

.center img::selection {
  color: transparent;
  background-color: transparent;
}

.center h3,
.center a,
.center p,
.center b,
.center br,
.center h6,
.center h5,
.center h4,
.center h2,
.center h1 {
  color: white;
}

.center {
  color: white;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.background {
  background: transparent;
}

/* Typewrite */
.blinkingCursor {
  position: relative;
  font: inherit;
  color: inherit;
  line-height: inherit;
  left: 3px;
  top: 0;
  opacity: 1;
}

.blink {
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Floating image */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floatingImage {
  transform: translatey(0px);
  transition: all 0.4s ease-in-out;
  animation: floating 6s ease-in-out infinite;
}

/* Avatar */

.avatar {
  position: relative;
  display: inline-flex;
}
.avatar > div {
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avatar.placeholder > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-group :where(.avatar) {
  overflow: hidden;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-border-opacity)));
}
.avatar.online:before {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity)));
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
}
.avatar.offline:before {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
  width: 15%;
  height: 15%;
  top: 7%;
  right: 7%;
}
